############################
# 🔹 Python
############################
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
venv_tf/
env/
ENV/

# Environment Variables
.env
.env.*
*.env

# Database
*.sqlite3
*.db

# Logs
*.log

############################
# 🔹 VS Code
############################
.vscode/

############################
# 🔹 IntelliJ / PyCharm
############################
.idea/
*.iml
*.ipr
*.iws

############################
# 🔹 Flutter / Dart
############################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

############################
# 🔹 Android
############################
/android/app/debug
/android/app/profile
/android/app/release

############################
# 🔹 Mac
############################
.DS_Store

############################
# 🔹 Windows
############################
Thumbs.db

############################
# 🔹 Misc
############################
*.swp
.history
.svn/
.build/
.buildlog/
migrate_working_dir/
app.*.symbols
app.*.map.json